<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='default-menu-style.css')}}">
    <title>IdentyFY</title>
</head>
<body>
    <header class="header">
        <a class="back-section" href="{{url_for('index')}}"><img class="back" src="static/assets/back.png">
        <p>voltar</p></a>
    </header>
    <div class="container">
        <div class="content">
            <h1 class="title">O que é NLTK?</h1>
            <p class="text">NLTK (Natural Language Toolkit) é uma biblioteca de processamento de linguagem natural desenvolvida em Python. Ela fornece ferramentas e recursos para lidar com texto e linguagem, permitindo que os desenvolvedores implementem soluções avançadas de análise e processamento de texto. O NLTK é amplamente utilizado em aplicações de aprendizado de máquina, mineração de texto e extração de informações. Sua sintaxe limpa e funcionalidades abrangentes tornam-no uma excelente escolha para quem deseja explorar o mundo da linguagem natural.</p>
        </div>
    </div>
</body>
</html>