<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='default-menu-style.css')}}">
    <title>IdentyFY</title>
</head>
<body>
    <header class="header">
        <a class="back-section" href="{{url_for('index')}}">
            <img class="back" src="static/assets/back.png">
            <p>voltar</p>
        </a>
    </header>
    <div class="container">
        <div class="content">
        
            <h5 class="title">Quem sou eu?</h5>
            <br/>
            <p class="text">Olá! Tudo bem? Meu nome é Lucas, e sou um programador muito curioso. Já estou há quase 4 anos nessa incrível área que tive o prazer de encontrar e da qual não abro mão. 😄Estou me trabalhando para me tornar um desenvolvedor fullstack, e para alcançar esse objetivo, estou trabalhando em projetos que envolvem tanto o front-end quanto o back-end. Atualmente (em fevereiro de 2024), estou cursando o 7º período de Sistemas de Informação e também comecei a trabalhar na Starti, a empresa júnior do IFAL-campus Arapiraca.
            <br/>
            <br/>
            Quer me achar?<br/>
            Email: lmsl3@aluno.ifal.edu.br<br/>
            GitHub: <a href="https://github.com/Lucasmtsoares ">https://github.com/Lucasmtsoares </a>
            </p>
        </div>
    </div>
    
</body>
</html>